<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.linsawako.zhihu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zhihudaily.comment.CommentActivity" />
        <activity
            android:name=".zhihudaily.content.ContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AddScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>